<section class="disclaimer">
  <div><b>NOTE:</b> All chats, messages and users will be automatically deleted!</div>
  <div>Empty chat rooms and all its messages after <b><%= timer_clean_chats() %></b> minutes without having members.</div>
  <div>Users will be purged after <b><%= timer_clean_users() %></b> minutes of quitting the app.</div>
</section>