/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.container{
  /* max-width: none;
  text-align: center; */
}

.chat-room {
  /* margin: 1em 5em;
  min-width: 1024px;
  text-align: center; */
}

.chat-content {
  display: inline-block;
  text-align: left;
}

.chat-members {
  display: inline-block;
  text-align: left;
}

.messages {
  height: 400px;
  overflow-y: scroll;
}