<section class="chats-list">
  <h3>Public living chats: <%= @counter%></h3>

  <%= if @counter > 0 do %>
  <ul>
    <%= for chat <- @chats do %> 
    <li><%= live_link("(#{chat.members}) #{chat.title}",
      to: Routes.live_path(@socket, LiveQchatexWeb.LiveChat.Chat, chat.id),
      title: "Click to join this public chat!") %></li>
    <% end %>
  </ul>
  <% else %>
  <i>- no public chats to list -</i>
  <% end %>
</section>